# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*override.tf
*override.tf.json
.terraform.lock.hcl

# VS Code
.vscode/
